<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="org.clever.security.mapper.MenuPermissionMapper">
    <select id="menuTree" resultType="org.clever.security.dto.response.admin.MenuPermissionTreeRes">
        select
        a.*,
        b.str_flag,
        b.permission_type,
        b.enabled,
        b.description,
        c.name as domainName
        from menu_permission a
        left join permission b on (a.permission_id = b.id)
        left join domain c on (b.domain_id = c.id)
        where a.domain_id=#{domainId} order by a.sort, a.create_at
    </select>

    <select id="pageQuery" resultType="org.clever.security.dto.response.admin.MenuPermissionQueryRes">
        select
        a.*,
        b.str_flag,
        b.permission_type,
        b.enabled,
        b.description,
        c.name as domainName
        from menu_permission a
        left join permission b on (a.permission_id = b.id)
        left join domain c on (b.domain_id = c.id)
        <where>
            and b.permission_type = 2
            <if test="query.id!=null">
                and a.id = #{query.id}
            </if>
            <if test="query.domainId!=null">
                and b.domain_id = #{query.domainId}
            </if>
            <if test="query.name!=null and query.name!=''">
                and a.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.path!=null and query.path!=''">
                and a.path like concat('%',#{query.path},'%')
            </if>
            <if test="query.pagePath!=null and query.pagePath!=''">
                and a.page_path like concat('%',#{query.pagePath},'%')
            </if>
            <if test="query.hideMenu!=null">
                and a.hide_menu = #{query.hideMenu}
            </if>
            <if test="query.hideChildrenMenu!=null">
                and a.hide_children_menu = #{query.hideChildrenMenu}
            </if>
            <if test="query.strFlag!=null and query.strFlag!=''">
                and b.str_flag = #{query.strFlag}
            </if>
            <if test="query.enabled!=null">
                and b.enabled = #{query.enabled}
            </if>
            <if test="query.createAtStart!=null">
                and a.create_at>=#{query.createAtStart}
            </if>
            <if test="query.createAtEnd!=null">
                <![CDATA[ and a.create_at<=#{query.createAtEnd} ]]>
            </if>
        </where>
    </select>
</mapper>