<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection -->
<mapper namespace="org.clever.security.mapper.RoleMapper">
    <select id="findByUsername" resultType="org.clever.security.entity.Role">
        select a.*
        from role a
                 left join user_role b on (a.name = b.role_name)
        where b.username = #{username}
        order by a.name
    </select>

    <select id="findByPage" resultType="org.clever.security.entity.Role" parameterType="org.clever.security.dto.request.RoleQueryPageReq">
        select *
        from role
        <where>
            <if test="query.name!=null and query.name!=''">
                and name like concat('%', #{query.name}, '%')
            </if>
        </where>
        order by name
    </select>
</mapper>