<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="org.clever.security.mapper.UserSecurityContextMapper">
    <select id="pageQuery" resultType="org.clever.security.dto.response.admin.UserSecurityContextQueryRes">
        select
            a.*,
            b.name as domain_name,
            c.login_name,
            c.telephone,
            c.email,
            c.nickname,
            c.avatar
        from user_security_context a
            left join domain b on (a.domain_id=b.id)
            left join user c on (a.uid=c.uid)
        <where>
            <if test="query.domainId!=null">
                and a.domain_id=#{query.domainId}
            </if>
            <if test="query.userSearchKey!=null and query.userSearchKey!=''">
                and (
                a.uid=#{query.userSearchKey}
                or c.login_name like concat('%', #{query.userSearchKey}, '%')
                or c.telephone like concat('%', #{query.userSearchKey}, '%')
                or c.email like concat('%', #{query.userSearchKey}, '%')
                or c.nickname like concat('%', #{query.userSearchKey}, '%')
                )
            </if>
            <if test="query.createAtStart!=null">
                and a.create_at>=#{query.createAtStart}
            </if>
            <if test="query.createAtEnd!=null">
                <![CDATA[ and a.create_at<=#{query.createAtEnd} ]]>
            </if>
        </where>
    </select>
</mapper>